body{
    background-color: rgb(255, 255, 255);
    }
    
    header {
    position: relative;
    height: 12vh;
    background-color: rgb(110, 255, 132);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
    );
    }
    
    
    h1 {
    margin: 0;
    padding: 0vh 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: white;
    float: right;
    }
    
    section {
    margin-top: -5vw;
    background-image: linear-gradient(135deg, #777, #111);
    }
    
    
    .elevinmatning {
    height: 5vw;
    
    }
    
    .pupil{
    height: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    border: none;
    border-left: 1vw solid   rgb(104, 206, 119);
    }
    
    .point{
    height: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    border: none;
    border-left: 1vw solid   rgb(104, 206, 119);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    #elevtotal1 {
    background-color: rgb(212, 255, 219);
    }
    
    h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3);
    }
    
    .answer{
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3); 
    height: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    border: none;
    border-left: 0.5vw solid   rgb(72, 143, 83);
    }
    
    .show_prov{
    transform: translateX(0) !important;
    opacity: 1 !important;
    transition: all 0.5s ease;
    }
    
    .provsvar {
    opacity: 0;
    position: absolute;
    transform: translateX(20vw);
    transition: all 0.5s ease;
    }
    
    .elever {
    background-color: rgb(104, 206, 119);
    height: 88vh;
    
    }
    
    .prov {
    background-color:rgb(138, 255, 157);
    height: 88vh;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3);
    }
    
    .stats {
    background-color: white;
    height: 88vh;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3);
    }
    
    
    
    .f1medel {
    background-color: rgba(110, 255, 132, 0.3);
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .f2medel {
    background-color: rgba(110, 255, 132, 0.4);
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .f3medel {
    background-color: rgba(110, 255, 132,  0.5); 
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .f4medel {
    background-color: rgba(110, 255, 132, 0.6); 
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .f5medel {
    background-color: rgba(110, 255, 132, 0.7); 
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .maxmedel {
    background-color: rgba(110, 255, 132, 0.8); 
    transition: all 0.5s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: white;
    }
    
    .modal {
    display: none;
    position: fixed; 
    padding-top: 5vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #fefefe;
    margin: auto;
    width: 80vw;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3);
    animation-name: animatetop;
    animation-duration: 0.4s
    }
    
    @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }
    
    .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    }
    
    h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    }
    
    .modal-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 2vw;
    padding-left: 4vw;
    
    }
    
    .modal-input {
    height: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    margin-right: 50vw;
    }
    
    .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    }