
body{
background-color: rgb(66, 66, 66);
}

.elevinmatning {

height: 5vw;

}

.pupil{
height: 5vw;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 1.5vw;
border: none;
border-left: 0.5vw solid  rgb(66, 66, 66);;
}

.point{
height: 5vw;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 1.5vw;
border: none;
border-left: 0.5vw solid  rgb(66, 66, 66);;
}

.show_prov{
transform: translateX(0);
}